// Setting font style and element colour

/////////////////
// Text-color //
///////////////
* {
  color: var(--text);
}

///////////////////////
// background-color //
/////////////////////
body {
  background-color: var(--bg);
}

.heading,
.filter-section__search-box,
.filter-section__dropdown--toggle-label,
.filter-section__dropdown--cascade,
.country-list__country-card {
  background-color: var(--elements);
}

//////////////
//  fonts  //
////////////
.heading {
  .heading__title {
      font-size: 1.4rem;
  }
  .heading__toggle-text {
      font-size: 0.9rem;
    font-weight: 600;
  }
}

.filter-section {
  &__search-box--input,
  &__dropdown {
    font-size: 0.9rem;
    font-weight: 300;
  }
  &__search-box--input {
    font-weight: 600;
  }
  &__search-box--input:focus {
    outline: var(--bg) solid 3px;
    border-radius: 7px;
  }
}

.country-list__country-card {
  h4 {
    font-size: 1.3rem;
    font-weight: 800;
  }
  p {
    font-size: 1rem;
  }
  span {
    font-weight: 600;
  }
}