
// Colours

$Dark-Mode-Elements: hsl(209, 23%, 22%);
$Dark-Mode-Background: hsl(207, 26%, 17%);
$Light-Mode-Text: hsl(200, 15%, 8%);
$Light-Mode-Input: hsl(0, 0%, 52%);
$Light-Mode-Background: hsl(0, 0%, 98%);
$Dark-Mode-Text-and-Light-Mode-Elements: hsl(0, 0%, 100%);
$Text-Light-Mode: rgba(38, 36, 36, 0.838);
$Text-Dark-Mode: rgb(243, 242, 242);


// Global vars

$shadow-color-dark: rgba(37, 37, 37, 0.439);
$shadow-color-light: rgba(11, 11, 11, 0.062);
$shadow-spread: 12px 0px;

$border-radius: 7px;

$desktop-media-query: 700px;

$padding-block:0.9em;
$padding-inline: 1.0em;
$padding-all: 2em;

$font-size: 2rem;

// Mixins and functions
@mixin heading-config(){
    display: flex;

    padding-block: 2em;
    padding-inline: min(8vw, 5em);
  
    // @include var.theme;
    box-shadow: 0px 0px $shadow-spread var(--shadow-color);
  
    &__title {
      flex-grow: 1;
    }
    &__theme-switch-btn {
      display: flex;
      align-items: center;
  
      gap: 10px;
  
      cursor: pointer;
      font-weight: 600;
    }
    font-size: 0.7rem;

}
