@use "__fonts.scss" as fonts; //do something about font duplication. todo
@use "__var.scss" as var;
@use "__theme.scss" as theme;
@use "__design_country-details.scss" as design;
*,
*::after,
*::before {
  font-family: "Nunito Sans", sans-serif;
  color: var(--text);

  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
a{
  text-decoration: none;
}
button {
  border: 0px;
  cursor: pointer;
}

.heading {
  @include var.heading-config;

  button {
    background-color: unset;
  }
}

.main-content {
  padding-inline: 40px;
  padding-top: 20px;

  &__redirection {
    display: flex;
    justify-content: center;

    padding-block: var.$padding-block;
    padding-inline: var.$padding-inline;
    margin-bottom: 20px;
    border-radius: var.$border-radius;

    width: clamp(110px, 25vw, 170px);

    gap: 10px;
    cursor: pointer;
    box-shadow: 0px 0px var.$shadow-spread var(--shadow-color);
  }


  &__border-countries {
    button {
      margin-right: 15px;
      padding-block: var.$padding-block;
      padding-inline: var.$padding-inline;
      box-shadow: 0px 0px var.$shadow-spread var(--shadow-color);
      border-radius: var.$border-radius;
    }
    &--title {
      grid-column: 1/-1;
    }
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 10px;
  }
}
.country-details__datum{
  margin-bottom: 15px;
}
@media (min-width: var.$desktop-media-query) {
  .main-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 40px;

    grid-column: span 3;

    &__datum-img {
      align-self: flex-start;
      grid-row: 2/5;
    }
    &__datum--country-title {
      grid-row: 2/3;
    }
    &__country-details--geography {
      align-self: flex-start;
      grid-row: 3/4;
    }
    &__country-details--specs {
      align-self: flex-start;
      grid-row: 3/4;
    }
    &__border-countries {
      grid-column: 2/-1;
      grid-row: 4/5;
    }
  }
}
