@use "__fonts.scss" as fonts;
@use "__var.scss" as var;
@use "__theme.scss" as theme;

*,
*::after,
*::before {
  font-family: "Nunito Sans", sans-serif;
  color: var(--text);

  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

body {
  background-color: var(--bg);
}

button,
select,
input {
  border: 0px;
  background-color: unset;
}

.heading {
  @include var.heading-config();
}

.filter-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  padding: 20px;
  gap: 30px;

  &__search-box, 
  &__dropdown {
    box-shadow: 0px 0px var.$shadow-spread var(--shadow-color);
  }
  &__search-box::before {
    content: "";
    background: url("https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/808080/external-magnifying-glass-interface-kiranshastry-lineal-kiranshastry.png") no-repeat center;
    background-size: contain;
    padding: 1rem;
  }
}

.filter-section__dropdown{
  position: relative;

  &--toggle-btn{
    border: solid red 3px;
  }
  
  &--toggle-btn{
    display: none;
  }
  &--toggle-img{
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;
  }
  &--toggle-btn:checked ~ &--toggle-img{
    transform: rotate(180deg);
    transition: transform 300ms ease-in-out;
  }

  &--cascade{
    position: absolute;
    background-color: black;
  }

}

.country-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));

  justify-content: space-evenly;

  gap: 50px;
  padding: 40px;
}

.country-list__country-card {
  overflow: hidden;
  cursor: pointer;

  & :not(img) {
    padding-inline: 20px;
  }

  box-shadow: 0px 0px var.$shadow-spread var(--shadow-color);
  border-radius: var.$border-radius;

  img {
    width: 100%;
  }
}

// Hide the filter dropdown menu
.hide-cascade{
  overflow: hidden;
  max-height: 0px;
  transition: max-height 300ms ease-in-out;
}