/* cyrillic-ext */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8WAc5gU1EQVg.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8WAc5pU1EQVg.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8WAc5iU1EQVg.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8WAc5jU1EQVg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8WAc5tU1E.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc9iB85gU1EQVg.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc9iB85pU1EQVg.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc9iB85iU1EQVg.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc9iB85jU1EQVg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc9iB85tU1E.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8aBc5gU1EQVg.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8aBc5pU1EQVg.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8aBc5iU1EQVg.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8aBc5jU1EQVg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8aBc5tU1E.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --text-light: rgba(38, 36, 36, 0.838);
  --bg-light: hsl(0deg, 0%, 98%);
  --input-light: hsl(0deg, 0%, 52%);
  --elements-light: hsl(0deg, 0%, 100%);
  --shadow-color-light: rgba(11, 11, 11, 0.062);
  --text-dark: rgb(243, 242, 242);
  --bg-dark: hsl(207deg, 26%, 17%);
  --input-dark: hsl(209deg, 23%, 22%);
  --elements-dark: hsl(209deg, 23%, 22%);
  --shadow-color-dark: rgba(37, 37, 37, 0.439);
}

[color-scheme=dark] {
  --text: var(--text-dark);
  --bg: var(--bg-dark);
  --input: var(--input-dark);
  --elements: var(--elements-dark);
  --shadow-color: var(--shadow-color-dark) ;
}

[color-scheme=light] {
  --text: var(--text-light);
  --bg: var(--bg-light);
  --input: var(--input-light);
  --elements: var(--elements-light);
  --shadow-color: var(--shadow-color-light) ;
}

* {
  color: var(--text);
}

body {
  background-color: var(--bg);
}

.heading,
.filter-section__search-box,
.filter-section__dropdown--toggle-label,
.filter-section__dropdown--cascade,
.country-list__country-card {
  background-color: var(--elements);
}

.heading .heading__title {
  font-size: 1.4rem;
}
.heading .heading__toggle-text {
  font-size: 0.9rem;
  font-weight: 600;
}

.filter-section__search-box--input, .filter-section__dropdown {
  font-size: 0.9rem;
  font-weight: 300;
}
.filter-section__search-box--input {
  font-weight: 600;
}
.filter-section__search-box--input:focus {
  outline: var(--bg) solid 3px;
  border-radius: 7px;
}

.country-list__country-card h4 {
  font-size: 1.3rem;
  font-weight: 800;
}
.country-list__country-card p {
  font-size: 1rem;
}
.country-list__country-card span {
  font-weight: 600;
}

*,
*::after,
*::before {
  font-family: "Nunito Sans", sans-serif;
  color: var(--text);
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

button,
input {
  border: 0px;
  background-color: unset;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-block: 2em;
  padding-inline: min(7vw, 4em);
  gap: 20px;
  box-shadow: 0px 0px 12px 0px var(--shadow-color);
}
@media screen and (min-width: 400px) {
  .heading {
    justify-content: space-between;
  }
}
.heading__theme-switch-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-weight: 600;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-block: 1.9em;
  padding-inline: 4.4em;
  gap: 40px;
}
@media screen and (min-width: 700px) {
  .filter-section {
    justify-content: space-between;
  }
}

.filter-section__search-box {
  display: flex;
  width: clamp(300px, 40vw, 500px);
  padding: 0.9em 1em;
  border-radius: 7px;
  box-shadow: 0px 0px 12px 0px var(--shadow-color);
}
.filter-section__search-box--input {
  width: 100%;
  padding: 0.4em 0.2em;
}
.filter-section__search-box::before {
  content: "";
  background: url("https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/808080/external-magnifying-glass-interface-kiranshastry-lineal-kiranshastry.png") no-repeat center;
  background-size: contain;
  padding: 1rem;
  margin-right: 14px;
}

.filter-section__dropdown {
  position: relative;
  cursor: pointer;
}
.filter-section__dropdown--toggle-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: clamp(200px, 20vw, 300px);
  padding: 1.2em 1.2em;
  border-radius: 7px;
  box-shadow: 0px 0px 12px 0px var(--shadow-color);
  cursor: pointer;
}
.filter-section__dropdown--toggle-btn {
  display: none;
}
.filter-section__dropdown--toggle-img {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 400ms ease-in-out;
}
.filter-section__dropdown--toggle-btn:checked ~ .filter-section__dropdown--toggle-img {
  transform: rotate(540deg);
  transition: transform 400ms ease-in-out;
}
.filter-section__dropdown--cascade {
  overflow: hidden;
  position: absolute;
  display: grid;
  gap: 10px;
  max-height: 300px;
  inset-inline: 0px;
  padding-block: 0.9em;
  padding-inline: 1em;
  border-radius: 7px;
  box-shadow: 0px 0px 12px 0px var(--shadow-color);
  transform: translateY(5px);
  transition: padding 300ms, max-height 300ms ease-in-out;
}

.country-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  justify-content: space-evenly;
  gap: 80px;
  padding: 40px;
}

.country-list__country-card {
  display: grid;
  grid-template-rows: 150px repeat(4, -webkit-min-content);
  grid-template-rows: 150px repeat(4, min-content);
  gap: 5px;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 1em;
  transition: transform 500ms;
  box-shadow: 0px 0px 12px 0px var(--shadow-color);
  border-radius: 7px;
}
.country-list__country-card h4:not(img), .country-list__country-card p:not(img) {
  padding-inline: 20px;
}
.country-list__country-card--flag-img {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.country-list__country-card h4 {
  margin-top: 20px;
}

.country-list__country-card:focus-visible {
  outline: solid 5px;
}

.country-list__country-card:hover {
  transform: scale(1.1);
  transition: transform 100ms;
}

.hide-cascade {
  padding: 0px;
  max-height: 0px;
  transition: padding 300ms ease-in-out, max-height 300ms ease-in-out;
}/*# sourceMappingURL=index.css.map */